:root {
    font-family: "Comic Code Ligatures", "Comic Code", monospace;
    color: snow;
    background: midnightblue;
    scrollbar-color: white transparent;
    scrollbar-width: auto;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    max-width: none;
    margin: 0;
    flex-grow: 1;
    align-items: stretch;
}

.rooms,
.users {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    padding: 1em;
    word-wrap: break-word;
    word-break: break-all;
    resize: horizontal;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    width: 20vw;
}

.rooms {
    border-right: solid 1px white;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    resize: horizontal;
    width: 60vw;
}

.chat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    padding: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    flex-grow: 1;
}

.toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    border-top: solid 1px white;
}

.toolbar>* {
    flex-grow: 1;
}

.toolbar button {
    background: midnightblue;
    border: none;
    color: white;
    font-family: inherit;
}

.toolbar textarea {
    font-family: inherit;
    border: solid 1px white;
    border-style: none solid none solid;
    outline: none;
}

.users {
    border-left: solid 1px white;
    text-align: right;
}

.timestamp,
.name {
    display: inline-block;
}

.timestamp {
    width: 8ch;
}

.name {
    margin-right: 0.5ch;
}

.name:after {
    content: ':';
}

.king:before {
    content: "👑";
}

.blocked:before {
    content: "❌";
}

.king.blocked:before {
    content: "❌👑";
}

.bot:after {
    content: "🤖";
}